#map {
    height: 450px;
    width: 100%;
}

#title {
    font-size:75px;
}

* {
    box-sizing: content-box;
  }

.searchbars {
    display: flex;
    flex-direction: row;
}

#search1 {
    width: 1000px;
    margin: 0 50px;
}

#search2 {
    width: 1000px;
    margin: 0 -200px
}

  
  /* Style the search field */
  div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 30%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  div.search button {
    display: inline-block; margin-left: -4px;
    width: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  div.search button:hover {
    background: #0b7dda;
  }
